.anime {
  &.card {
    position: relative;
    margin-bottom: 3rem;

    .see-more {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 1rem;
      bottom: 8rem;
      width: 50px;
      height: 50px;
      background-color: red;
      border-radius: 50%;
      color: white;
      transition: background-color 0.15s ease-out;

      &:hover {
        background-color: darken($color: red, $amount: 5%);
        
        svg {
          transform: scale(1.15);
        }
      }

      svg {
        font-size: 20px;
        transition: transform 0.15s ease-out;
      }
    }
  }
}